*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: rgba(221, 255, 255, 0.858);
}

.container{
    width: 60%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: rgba(216, 255, 157, 0.772);
    border-radius: 4%;
    font-size: 200%;
}

.searchBar{
    text-align: center;
    width: 90%;
    height: 10%;
}

#cityName{
    width: 50%;
    padding: 1%;
    font-size: 60%;
    border: none;
    border-radius: 10px;
}

#searchBtn{
    font-size: 60%;
    font-weight: 500;
    padding: 1%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#currLocBtn{
    width: 60%;
    font-size: 60%;
    font-weight: 500;
    padding: 1%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.temp, .weatherInfo{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

#cName{
    font-size: 140%;
}

.tempDetails{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}